{% extends "base.html" %}

{% block style %}
<style type="text/css">
    html, body, #main { height: 600px; width: 100%; margin: 0; padding: 0 }
</style>
{% end %}

{% block page %}
<div class="row">
    <div class="col-lg-12 page-header">
        <h1><p class="source_title" style="display:inline-block">{{ domain }}</p>可视分析</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div id="main" style=""></div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-lg-12">
        <table class="table table_info">
            <tbody>
            <tr>
                <td>注册者:</td>
                <td id="baseinfo_1"></td>
                <td>关联域名数量:</td>
                <td id="num_1"></td>
            </tr>
            <tr>
                <td>注册邮箱：</td>
                <td id="baseinfo_2"></td>
                <td>关联域名数量:</td>
                <td id="num_2"></td>
            </tr>
            <tr>
                <td>注册电话：</td>
                <td id="baseinfo_3"></td>
                <td>关联域名数量:</td>
                <td id="num_3"></td>
            </tr>
            <tr>
                <td>服务ip：</td>
                <td id="baseinfo_4"></td>
                <td>关联域名数量:</td>
                <td id="num_4"></td>
            </tr>
            <tr>
                <td>链入域名个数：</td>
                <td id="num_5"></td>
            </tr>
            <tr>
                <td>链出域名个数：</td>
                <td id="num_6"></td>
            </tr>
            <tr>
                <td>cname关联域名个数：</td>
                <td id="num_7"></td>
            </tr>
            <tr>
                <td>关联域名总数：</td>
                <td id="num_8"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% end %}

{% block scripts %}
<script type="text/javascript" src="https://cdn.bootcss.com/echarts/4.0.2/echarts.min.js"></script>
<script type="text/javascript">
    var graph_info = {% raw graph_info %};
    var show_info = {% raw show_info %};
    $('#baseinfo_1').text(show_info[0]);
    $('#baseinfo_2').text(show_info[1]);
    $('#baseinfo_3').text(show_info[2]);
    $('#baseinfo_4').text(show_info[3]);
    $('#num_1').text(show_info[4]);
    $('#num_2').text(show_info[5]);
    $('#num_3').text(show_info[6]);
    $('#num_4').text(show_info[7]);
    $('#num_5').text(show_info[8]);
    $('#num_6').text(show_info[9]);
    $('#num_7').text(show_info[10]);
    $('#num_8').text(show_info[11]);
    var links = graph_info.links;
    var nodes = graph_info.nodes;
    var color='red';
    var data = new Array();
    for(var i in nodes){
        name = nodes[i][0];
        type = nodes[i][1];
        if(type == 'ip'){
            color='red';
        }else if(type == 'cname'){
            color='green';
        }else if(type == 'enter_domain'){
            color='yellow';
        }else if(type == 'outer_domain'){
            color='blue';
        }else if(type == 'reg_name'){
            color='brown';
        }else if(type == 'reg_phone'){
            color='#5e5f74';
{#            color='#d10e11';#}
        }else if(type == 'reg_email'){
            color='purple';
        }else{
            color='black';
        }
        item = {
            name:name ,
            des: "域名",
            symbolSize: 50,
            itemStyle: {
                normal: {
                    color:color
                }
            }
        };
        data.push(item);
    }
    var myChart = echarts.init(document.getElementById('main'));
    option = {
        title: { text: '域名可视分析关系图' },
        tooltip: {
            formatter: function (x) {
                return x.data.des;
            }
        },
        series: [
            {
                type: 'graph',
                layout: 'force',
                symbolSize: 80,
                roam: true,
                edgeSymbol: ['circle', 'arrow'],
                edgeSymbolSize: [4, 10],
                force: {
                    repulsion: 2500,
                    edgeLength: [10, 50]
                },
                draggable: true,
                itemStyle: {
                    normal: {
                        color: '#4b565b'
                    }
                },
                lineStyle: {
                    normal: {
                        width: 2,
                        color: '#4b565b'

                    }
                },
                edgeLabel: {
                    normal: {
                        show: true,
                        formatter: function (x) {
                            return x.data.name;
                        }
                    }
                },
                label: {
                    normal: {
                        show: true,
                        textStyle: {
                        }
                    }
                },
                data: data,
                links: links
            }
        ]
    };
    myChart.setOption(option);
    </script>
{% end %}